@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  outline: 0;
  text-decoration: none;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:active {
  color: #333;
}

ul, li {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: 0;
  cursor: pointer;
}

button,
input {
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label,
select {
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.show {
  display: block !important;
}

.wrap {
  width: 100%;
  height: 100%;
  background-color: #5C6BC0;
  position: relative;
}

.wrap .container {
  width: 800px;
  padding: 30px;
  border-radius: 3px;
  background-color: #E8EAF6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap .container h1 {
  margin-bottom: 30px;
  text-align: center;
}

.wrap .container .row:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.wrap .container .row:nth-child(4) {
  height: 310px;
  overflow: hidden;
  overflow-y: auto;
}

.wrap .container .row::-webkit-scrollbar {
  width: 3px;
  background-color: #C5CAE9;
}

.wrap .container .row::-webkit-scrollbar-thumb {
  background-color: #283593;
}

.wrap .container form {
  margin: auto;
}

.wrap .container form input {
  width: 33%;
  padding: 10px 15px;
  border: 0;
}

.wrap .container form input::-webkit-input-placeholder {
  color: #C5CAE9;
}

.wrap .container form input:-ms-input-placeholder {
  color: #C5CAE9;
}

.wrap .container form input::-ms-input-placeholder {
  color: #C5CAE9;
}

.wrap .container form input::placeholder {
  color: #C5CAE9;
}

.wrap .container form input.inpName::-webkit-input-placeholder, .wrap .container form input.inpHobby::-webkit-input-placeholder {
  color: #5C6BC0;
}

.wrap .container form input.inpName:-ms-input-placeholder, .wrap .container form input.inpHobby:-ms-input-placeholder {
  color: #5C6BC0;
}

.wrap .container form input.inpName::-ms-input-placeholder, .wrap .container form input.inpHobby::-ms-input-placeholder {
  color: #5C6BC0;
}

.wrap .container form input.inpName::placeholder, .wrap .container form input.inpHobby::placeholder {
  color: #5C6BC0;
}

.wrap .container .btnArea {
  margin-top: 10px;
}

.wrap .container .btnArea button {
  width: 150px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #283593;
  color: #fff;
}

.wrap .container .btnArea button:last-child {
  margin-right: 0;
}

.wrap .container select {
  width: 100px;
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #5C6BC0;
}

.wrap .container .totalCntA {
  text-decoration: underline;
  font-weight: bold;
  color: #283593;
}

.wrap .container table {
  width: 700px;
  margin-top: 20px;
}

.wrap .container table tr {
  border: 1px solid #C5CAE9;
  text-align: center;
}

.wrap .container table th,
.wrap .container table td {
  padding: 10px 0;
  border-right: 1px solid #C5CAE9;
}

.wrap .container table th:last-child,
.wrap .container table td:last-child {
  border-right: 0;
}

.wrap .container table th {
  background-color: #C5CAE9;
  border-right: 1px solid #E8EAF6;
}

.wrap .container table th:last-child {
  border-right: 0;
}

.wrap .container table .totalCntA {
  font-weight: bold;
}

.wrap .container .pagination {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .container .pagination li {
  margin-right: 10px;
}

.wrap .container .pagination li:last-child {
  margin-right: 0;
}

.wrap .container .pagination li.active a {
  background-color: #283593;
  color: #fff;
}

.wrap .container .pagination li a {
  display: block;
  padding: 3px 10px;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */